@import '_partial';

header {
  width: 100%;
  height: auto;
  position: fixed;
  background: $bluegradient;
  z-index: 1;

  nav a {
    line-height: 65px !important;
    color: #fff;
    padding: 0 20px
  }
  .user-wrap {
    position: absolute;
    top: 50%;
    right: 20px;
    max-width: 150px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0;
    @include transform(translateY(-50%));

    .user-img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-image: url("../images/user-icon.png");
      background-position: center;
      background-repeat: no-repeat;
      @include borderRadius(50%);
      @include bgSize(cover);
    }
    .user-name {
      overflow: hidden;
      white-space: nowrap;
      line-height: 40px;
      @include textOverflow(ellipsis);
    }
    a {
      line-height: 40px;

      span {
        position: absolute;
        right: 1px;
        width: 20px;
        height: 20px;
        color: #fff;
        font-size: 0.8rem;
        line-height: 20px;
        background: red;
        @include borderRadius(50%);
      }
    }
  }
}

#search-wrap {
  width: 100%;
  height: 66px;
  position: fixed;
  top: -70px;
  left: 0;
  z-index: 2;
  background: $bluegradient;
  @include transition(all 0.4s ease-out);

  form {
    width: 550px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-column-gap: 10px;
    @include transform(translate(-50%,-50%));

    input:focus {
      @include boxShadow(none);
    }
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    cursor: pointer;
    @include transition(all 0.4s ease-out);

    :hover {
      color: #007bff!important;
    }
  }
}
#search-wrap.active {
  top: 0px !important;
}