.landing-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#0A375B, #000304);
}
.landing-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing-grid p {
  line-height: 30px;
}
.landing-slide {
  height: 400px;
}
.custom-info-wrap,
.build-info-wrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 0;
}
.info-img-wrap {
  position: relative;
}
.info-img {
  width: 400px;
  height: 400px;
  border: 1px solid green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.info-desc-wrap {
  position: relative;
}
.info-desc-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.popular-wrap {
  padding: 0 40px;
}
.popular-slide {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}
.popular-slide > div {
  height: 200px;
  border: 1px solid red;
}
.landing-content {
  position: relative;
}
.landing-content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}