extends ../layouts/main.pug 
block style
  link(type='text/css' rel='stylesheet' href='/css/home.css')
block content
  section(class='landing-wrap')
    div(class='landing-grid')
      div(class='landing-slide w-75 mx-auto border border-danger')
      div(class='landing-content') 
        div(class='landing-content-inner w-75')
          h2(class='display-5 font-weight-bold text-left text-light') Custom t-shirts of all types
          p(class='text-left mx-auto text-light') Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut iste beatae dolor vero perferendis non ex provident, veniam eos itaque? Lorem ipsum dolor sit amet
          a(href='/products' class='btn btn-primary px-5') Lets Go!
      
  section(class='custom-info-wrap')
    div(class='info-desc-wrap')
      div(class='info-desc-content text-center w-75')
        h2 Customize Existing T-shirts
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error labore totam unde officiis sit at odio nobis? Saepe voluptate, voluptatum veniam impedit nam, numquam ipsa molestias, sapiente accusamus sit eos.
    div(class='info-img-wrap')
      div(class='info-img')

  section(class='build-info-wrap')
    div(class='info-img-wrap')
      div(class='info-img')
    div(class='info-desc-wrap')
      div(class='info-desc-content text-center w-75')
        h2 Build Designs from Scratch
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur doloremque odit, necessitatibus non perferendis doloribus. Dolor debitis iusto esse dolorum ea facilis quasi quae eligendi earum. a new power is

  section(class='popular-wrap')
    h2(class='text-center font-weight-bold') Popular Designs
    div(class='popular-slide')
      div
      div
      div
      div
      div

      

    