extends ../layouts/main.pug 
block style
  link(type='text/css' rel='stylesheet' href='/css/home.css')
block content
  div(id='welcome-wrap' class='text-center text-dark')
    h3 Welcome to the Store!
    p Click on the button below to check out the products
    a(href='/products' class='btn btn-primary px-4') See Products