extends ../layouts/main.pug 
block style 
  link(type='text/css' rel='stylesheet' href='/css/signup.css')
block content
  section(id='signup-wrap' class='bg-dark')
    form(action='/signup' method='POST' id='signup-form')
      p(class='text-center')
        i(class='fas fa-burn text-primary')
      h2(class='text-center text-light') Sign up
      div(class='form-group')
        label(for='username-input' class='text-light') Username:
        input(type='text' name='username' class='form-control' placeholder='jDoe23!' id='username-input' required)
      div(class='form-group')
        label(for='email-input' class='text-light') Email:
        input(type='text' name='email' class='form-control' placeholder='jdoe@email.com' id='email-input' required)
      div(class='form-group')
        label(for='password-input' class='text-light') Password:
        input(type='password' name='password' class='form-control' placeholder='********' id='password-input' required)
      input(type='submit' class='btn btn-primary d-block w-100 mt-4' value='Enter')